NODE_ENV=development
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN_SECONDS=
CSRF_SECRET=
ALLOWED_ORIGINS=
NOTIFICATIONS_API_URL=
NOTIFICATIONS_JWT_SECRET=
RESET_PASSWORD_URL=
RESET_PASSWORD_TOKEN_TTL_MINUTES=
